@charset "utf-8";






#header {
    background-color: #181823;

    color: white;
    text-align: center;
    padding: 40px;
    align-items: center;

    left: 0;
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;



}


#pie {
    width: 100%;
    background: #181823;
    padding: 3rem 0;
    text-align: center;
    margin-right: 6rem;
    transition: 0.7s linear;
    position: absolute;
    color: white;
    font-size: large;
}

body {
    background-color: #537FE7;
    transition: all 0.7s linear;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

#menu {
    color: white;
    background-color: white;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    padding: 10px 12px;
    display: block;
    border-radius: 1.5rem;
    transition: 0.4s linear;

}

#menus {
    margin-right: 30px;
}

a {
    text-decoration: none;
}

#inicio {

    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    text-align: center;
    width: auto;
    margin: 0 auto;
    margin: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(133, 136, 130);
    border-radius: 10px; 
    padding-bottom: 40px;
}

#p1 {
    padding-top: 25px;
}

#p2 {
    padding-bottom: 5px;
    padding-top: 25px; 

}

#omarv {

    height: 250px;
    border-radius: 15px;
    align-items: center;

}

#videog {
    height: 300px;
    border-radius: 15px;
    align-items: center;
    padding-bottom: 30px;
}

#omar {
    width: 260px;
    height: 300px;
    margin-top: 55px;
    border-radius: 25px;
}

#angel {
    width: 260px;
    height: 300px;
    margin-top: 25px;
    border-radius: 25px;
}

#osvaldo {
    width: 200px;
    height: 300px;
    margin-top: 55px;
    border-radius: 25px;
}

#redes {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    text-align: center;
    width: auto;
    margin: 0 auto;
    margin: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(133, 136, 130);
    border-radius: 10px;
    padding-bottom: 40px;
    align-items: center;

}

#social {
    color: white; 
    text-decoration: none;
  margin: 25px;
    transition: 0.4s linear;
    text-align: center;
    align-items: center;


}

#textOM{

    height: auto;
    color:#ffffff;
    text-align: center;
    font-size: large;
    margin-bottom: 30px;

}

#osvalp{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    text-align: center;
    width: auto;
    margin: 0 auto;
    margin: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(104, 224, 138);
    border-radius: 10px;
    padding-bottom: 40px;
    align-items: center;
}
#omarp{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    text-align: center;
    width: auto;
    margin: 0 auto;
    margin: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(92, 204, 189);
    border-radius: 10px;
    padding-bottom: 40px;
    align-items: center;
}
#angelp{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    text-align: center;
    width: auto;
    margin: 0 auto;
    margin: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(226, 165, 118);
    border-radius: 10px;
    padding-bottom: 40px;
    align-items: center;
}



