@charset "utf-8";






#header {
    background-color: #181823;
   
    color: white;
    text-align: center;
    padding: 40px;
    align-items: center;
 
    left: 0;
    top: 0;
    right: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;

    

}


#pie {
    width: 100%;
    background: #181823;
    padding: 3rem 0;
    text-align: center;
    margin-right: 6rem;
    transition: 0.7s linear;
    position: absolute;
  
}

body {
    background-color: #537FE7;
    transition: all 0.7s linear;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
#menu{
    color: white;
	text-decoration: none;
	text-align:center;
	font-size:16px;
	padding: 10px 12px;
	display: block;
	border-radius: 1.5rem;
	transition: 0.4s linear;
}

#menu li a:hover{
	background-color: dimgray;
}

#menuli ul{
	display: none;
	position: absolute;
	min-width: 140px;
}

#menu li:hover > ul{
	display: block;
}